<div class="columns is-centered">
  <div class="column is-half  ">
    <% result.forEach((element,index)=>{ %>
    <h1 class="title is-4 is-capitalized">Q<%= index +1 %>) <%= element.question %></h1>
    <div class="answers ">
      <form action="/exam/checkexam" method="post">
        <input type="hidden" name="ids[]" value="<%=element._id%>">
        <input type="hidden" name="currentname" value="<%= currentname %> ">
        <% let counter=1;element.answers.forEach(el=>{ %>

        <p class="title is-5 ">
          
          
          <input
            type="radio"
            name="checkanswers[<%=index %>]"
            value="<%= el %>"
            required
            
          /> &nbsp; <%=  el %>
        </p>

        <% }) %>
       
    </div>
    <% }) %>
    <input type="submit" class="button is-primary mt-2" value="submit" />
</form>
  </div>
</div>
